cloud/src/main/mule/cloud.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c38af85b-3fbc-4981-bc0e-833e47d9b744" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cloudFlow" doc:id="55f40319-c3c0-498e-b72b-059f777b2069" >
		<http:listener doc:name="Listener" doc:id="5658c4f8-3f17-4542-86de-29c4a6476c53" config-ref="HTTP_Listener_config" path="/api"/>
		<set-payload value='#["hey ...."]' doc:name="Set Payload" doc:id="b874ff29-3926-4f0f-93d3-d2ddd3d72bae" />
	</flow>
</mule>
